@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Exo+2:wght@300&display=swap');

:root {
  --backgroundPrimary: #121212; /* Main background color */
  --backgroundSecondary: #2e2b2e; /* Secondary background color */
  --textPrimary: #ffffff; /* Main text color, white */
  --textSecondary: #aaaaaa; /* Secondary text color, grey */
  --accentYellow: #f1c40f; /* Yellow accent color */
  --accentPurple: #ae66ca; /* Purple accent color */
  --accentPink: #e91e63; /* Pink accent color */
  --defaultFont: 'AR One Sans', sans-serif;
  --headingFont: 'Exo 2', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--textPrimary);
  font-family: var(--defaultFont);
}
  
/* Body styles */
#root {
  background-color: var(--backgroundPrimary);
}

/* Header styles */
nav {
  background-color: var(--backgroundSecondary);
  color: var(--textPrimary);
}

/* Backgrounds */

.backgroundPrimary {
  background-color: var(--backgroundPrimary);
}

.backgroundSecondary {
  background-color: var(--backgroundSecondary);
}

/* Text Styles */

.textPrimary {
  color: var(--textPrimary);
}

.textSecondary {
  color: var(--textSecondary);
}

/* Highlighted text styles */
.textYellow {
  color: var(--accentYellow);
}

.textPurple {
  color: var(--accentPurple);
}

.textPink {
  color: var(--accentPink);
}
  
.headingFont, h1, h2, h3, h4 {
  color: var(--accentPurple) !important;
  font-family: var(--headingFont);
}